@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #121212;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background-color: #242424;
  width: 90%;
  height: 90%;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
}

/* área de boas-vindas */
.welcome-container {
  position: absolute;
  background-color: #35a07a;
  color: #242424;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  text-align: center;
  left: 0;
  transition: left 0.6s ease-in-out;
}

.welcome-container > * {
  transition: opacity 0.2s ease-in-out;
}

/* ao arrastar o mouse */
.welcome-container::selection {
  background-color: #242424;
  color: #35a07a;
}

.welcome-container h1 {
  font-size: 48px;
}

.welcome-container p {
  margin: 16px 0 24px 0;
  font-size: 20px;
}

.welcome-container button, .form-container button {
  background-color: #35a07a;
  border: solid 2px #242424;
  color: #242424;
  padding: 0.5em 3em;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
}

.welcome-container button:hover, .form-container button:hover {
  background-color: #308e6d;
}

/* área dos formulários */
.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #35a07a;
  left: 40%;
  transition: left 0.6s ease-in-out;
}

.form-container > * {
  transition: opacity 0.2s ease-in-out;
}

.form-container::selection {
  background-color: #35a07a;
  color: #242424;
}

.form-container h2 {
  font-size: 48px;
  margin-bottom: 12px;
}

.form-container .icons-area {
  display: flex;
  flex-direction: row;
}

.form-container .icons-area div {
  width: 50px;
  height: 50px;
  margin: 0 16px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #35a07a;
  cursor: pointer;
}

.form-container .icons-area div:hover {
  background-color: #35a07a;
}

.form-container .icons-area div img {
  width: 30px;
  height: 30px;
  user-select: none;
}

.form-container p {
  margin: 12px 0 24px 0;
  font-size: 20px;
}

.form-container button {
  border: none;
  margin-top: 12px;
}

.form-container .input-area {
  position: relative;
  border: solid 1px transparent;
  margin-bottom: 12px;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  padding: 6px;
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container .input-area:focus-within {
  border: solid 1px #35a07a;
}

.form-container .input-area input {
  height: 100%;
  width: 100%;
  background-color: #353535;
  border: none;
  outline: none;
  font-size: 16px;
  caret-color: #35a07a;
  color: #35a07a;
}

.form-container .input-area input::placeholder {
  color:#35a07a;
  opacity: 0.7;
}

.form-container .input-area img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  user-select: none;
}

/* slide */
.welcome-sign-up {
  z-index: 2;
  opacity: 1;
  left: 0;
}

.welcome-sign-up.hide {
  opacity: 0;
  z-index: 1;
}

.welcome-sign-in {
  opacity: 1;
  z-index: 2;
}

.welcome-sign-in.hide {
  opacity: 0;
  z-index: 1;
}

.sign-up-container {
  z-index: 2;
}

.sign-up-container.hide {
  opacity: 0;
  z-index: 1;
}

.sign-in-container {
  z-index: 2;
  opacity: 1;
}

.sign-in-container.hide {
  opacity: 0;
  z-index: 1;
}

/* quando sign in é clicado */
.container.active .welcome-container {
  left: 60%;
}

.welcome-container.hidden > * {
  opacity: 0;
}

.container.active .form-container {
  left: 0;
}

.form-container.hidden > * {
  opacity: 0;
}

/* validação do formulário de registro */
.input-email.invalid, 
.input-password.invalid, 
.input-confirm-password.invalid {
  border: solid 1px #a94c4c;
}

/* display que mostra o erro a ser corrigido no input correspondente */
.input-error.error {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.input-error {
  display: none;
  position: absolute;
  right: -140px;
  width: 120px;
  height: 50px;
  background-color: #a94c4c;
  color: #242424;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  border-radius: inherit;
}

.input-error::selection {
  background-color: #242424;
  color: #a94c4c;
}

.input-error span {
  position: relative;
  z-index: 2;
}

.input-error div {
  z-index: 1;
  position: absolute;
  left: -5px;
  bottom: 12.5px;
  rotate: 45deg;
  width: 25px;
  height: 25px;
  background-color: #a94c4c;
}