.profile-content {
  padding: 16px;
  display: flex;
  align-items: center;
}

.profile-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-content div div {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

label {
  position: relative;
  margin-bottom: 4px;
}

label span {
  position: absolute;
  right: 0;
}

.input-area, .file {
  position: relative;
  border: solid 1px transparent;
  margin-bottom: 16px;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  padding: 6px;
  background-color: #353535;
}

.input-area.invalid {
  border: solid 1px #a94c4c;
}

.input-area:focus-within {
  border: solid 1px var(--bg-green);
}

.file-span {
  margin-bottom: 4px;
}

.input-area input, .input-file {
  height: 100%;
  width: 100%;
  background-color: #353535;
  border: none;
  outline: none;
  font-size: 16px;
  caret-color: var(--bg-green);
  color: var(--bg-green);
}

input[type="file"] {
  display: none;
}

.file {
  padding: 0;
}

.input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: inherit;
}

.input-file:hover {
  background-color: #3b3b3b;
}

.buttons {
  margin-top: 24px;
}

.confirm-changes, .cancel-changes {
  display: block;
  background-color: var(--bg-green);
  color: var(--text-black);
  border: none;
  padding: .5em 2.5em;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  margin: 0 8px;
}

.confirm-changes:hover {
  background-color: var(--bg-green-hover);
}

.cancel-changes {
  background-color: #c74242;
}

.cancel-changes:hover {
  background-color: #b53939;
}

@media (max-width: 1023px) and (min-width: 768px) {
  label, label span, .input-area input, .file-span, .buttons button {
    font-size: 14px;
  }

  .input-area, .file {
    width: 175px;
  }
}

@media (max-width: 767px) {
  label, label span, .input-area input, .file-span, .buttons button {
    font-size: 12px;
  }
  
  .input-area, .file {
    width: 140px;
  }
}