@import url("./root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: #121212;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background-color: var(--bg-black);
  width: 90%;
  height: 90%;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
}

/* área de boas-vindas */
.welcome-container {
  position: absolute;
  background-color: var(--bg-green);
  color: var(--text-black);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  text-align: center;
  left: 0;
  transition: left 0.6s ease-in-out;
}

.welcome-container > * {
  transition: opacity 0.2s ease-in-out;
}

/* ao arrastar o mouse */
.welcome-container::selection {
  background-color: var(--bg-black);
  color: var(--text-green);
}

.welcome-container h1 {
  font-size: 48px;
}

.welcome-container p {
  margin: 16px 0 24px 0;
  font-size: 20px;
}

.welcome-container button, .form-container button {
  background-color: var(--bg-green);
  border: solid 2px var(--bg-black);
  color: var(--text-black);
  padding: 0.5em 3em;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
}

.welcome-container button:hover, .form-container button:hover {
  background-color: #308e6d;
}

/* área dos formulários */
.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-green);
  left: 40%;
  transition: left 0.6s ease-in-out;
}

.form-container > * {
  transition: opacity 0.2s ease-in-out;
}

.form-container::selection {
  background-color: var(--bg-green);
  color: var(--text-black);
}

.form-container h2 {
  font-size: 48px;
  margin-bottom: 12px;
}

.form-container .icons-area {
  display: flex;
  flex-direction: row;
}

.form-container .icons-area div {
  width: 50px;
  height: 50px;
  margin: 0 16px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--bg-green);
  cursor: pointer;
}

.form-container .icons-area div:hover {
  background-color: var(--bg-green);
}

.form-container .icons-area div img {
  width: 30px;
  height: 30px;
  user-select: none;
}

.facebook-icon:hover img {
  content: url("../img/dark-insta-icon.png");
}

.google-icon:hover img {
  content: url("../img/dark-git-icon.png");
}

.linkedin-icon:hover img {
  content: url("../img/dark-linkedin-icon.png");
}

.form-container .welcome-mobile {
  display: none;
}

.error {
  color: #c53535;
  font-size: 14px;
}

.show-password {
  opacity: 0;
  pointer-events: none;
}

.input-area.active .show-password {
  opacity: 0.5;
  cursor: pointer;
  pointer-events: auto;
}

.input-area.active .show-password.show {
  opacity: 1;
}

.form-container p {
  margin: 12px 0 24px 0;
  font-size: 20px;
}

.form-container button {
  border: none;
  margin-top: 12px;
}

.form-container .input-area {
  position: relative;
  border: solid 1px transparent;
  margin: 6px 0;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  padding: 6px;
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container .input-area:focus-within {
  border: solid 1px var(--bg-green);
}

.form-container .input-area input {
  height: 100%;
  width: 100%;
  background-color: #353535;
  border: none;
  outline: none;
  font-size: 16px;
  caret-color: var(--bg-green);
  color: var(--bg-green);
}

.form-container .input-area input::placeholder {
  color: var(--text-green);
  opacity: 0.7;
}

.form-container .input-area img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  user-select: none;
}

/* slide */
.welcome-sign-up {
  z-index: 2;
  opacity: 1;
  left: 0;
}

.welcome-sign-up.hide {
  opacity: 0;
  z-index: 1;
}

.welcome-sign-in {
  opacity: 1;
  z-index: 2;
}

.welcome-sign-in.hide {
  opacity: 0;
  z-index: 1;
}

.sign-up-container {
  z-index: 2;
}

.sign-up-container.hide {
  opacity: 0;
  z-index: 1;
}

.sign-in-container {
  z-index: 2;
  opacity: 1;
}

.sign-in-container.hide {
  opacity: 0;
  z-index: 1;
}

/* quando sign in é clicado */
.container.active .welcome-container {
  left: 60%;
}

.welcome-container.hidden > * {
  opacity: 0;
}

.container.active .form-container {
  left: 0;
}

.form-container.hidden > * {
  opacity: 0;
}

/* validação do formulário de registro e login */
.input-username.invalid,
.input-email.invalid, 
.input-password.invalid, 
.input-confirm-password.invalid,
.input-email-login.invalid,
.input-password-login.invalid {
  border: solid 1px #a94c4c;
}

@media (max-width: 1023px) and (min-width: 769px) {
  .form-container {
    transition: left .5s ease-in-out;
  }

  .form-container > * {
    transition: opacity .1s ease-in-out;
  }

  .welcome-container {
    transition: left .5s ease-in-out;
  }

  .welcome-container h1, .form-container h2 {
    font-size: 36px;
  }

  .welcome-container p, .form-container p {
    font-size: 16px;
  }

  .form-container .icons-area div {
    width: 40px;
    height: 40px;
  }

  .form-container .icons-area div img {
    width: 25px;
    height: 25px;
  }

  .welcome-container button, .form-container button {
    font-size: 14px;
  }

  .form-container .input-area {
    width: 250px;
    height: 35px;
  }

  .form-container .input-area input {
    font-size: 14px;
  }

  .form-container .input-area input::placeholder {
    font-size: 14px;
  }

  .form-container .input-area img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .welcome-container {
    display: none;
  }

  .form-container {
    width: 100%;
    left: 0;
  }

  .form-container h2 {
    font-size: 32px;
  }

  .form-container p {
    font-size: 14px;
  }

  .form-container .icons-area div {
    width: 35px;
    height: 35px;
  }

  .form-container .icons-area div img {
    width: 20px;
    height: 20px;
  }

  .form-container .input-area {
    width: 200px;
    height: 30px;
  }

  .form-container .error {
    font-size: 12px;
  }

  .form-container .input-area input {
    font-size: 14px;
  }

  .form-container .input-area input::placeholder {
    font-size: 14px;
  }

  .form-container .input-area img {
    width: 15px;
    height: 15px;
  }

  .form-container button {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .form-container .welcome-mobile {
    display: block;
    font-size: 14px;
  }

  .form-container span b {
    text-decoration: underline;
    cursor: pointer;
  }

  /* no login é outro estilo */
  .sign-in-container {
    background-color: var(--bg-green);
    color: var(--text-black);
  }

  .sign-in-container::selection {
    background-color: var(--bg-black);
    color: var(--text-green);
  }

  .sign-in-container .input-area:focus-within {
    border: 1px solid #121212;
  }

  .sign-in-container .error {
    color: #7d2b2b;
  }

  .sign-in-container button {
    border: 2px solid var(--bg-black);
  }

  .sign-in-container .icons-area div {
    border: 1px solid var(--bg-black)
  }

  .sign-in-container .facebook-icon img {
    content: url("../img/dark-insta-icon.png");
  }

  .sign-in-container .google-icon img {
    content: url("../img/dark-git-icon.png");
  }

  .sign-in-container .linkedin-icon img {
    content: url("../img/dark-linkedin-icon.png");
  }

  .sign-up-container .icons-area div:hover {
    background-color: var(--bg-black);
  }

  .sign-up-container .facebook-icon:hover img {
    content: url("../img/insta-icon.png");
  }

  .sign-up-container .google-icon:hover img {
    content: url("../img/git-icon.png");
  }

  .sign-up-container .linkedin-icon:hover img {
    content: url("../img/linkedin-icon.png");
  }
}