@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: "Montserrat", sans-serif;
  --bg-black: #242424;
  --bg-green: #35a07a;
  --bg-green-hover: #308e6d;
  --text-black: #242424;
  --text-green: #35a07a;
  --text-green-hover: #308e6d;
}